body {
  font-family: "Anton SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: rgb(14, 4, 24);
  color: blanchedalmond;
  text-align: center;
  
}
